body {
    margin: 0%;

}

.section {
    display: flex;
    padding: 10%;
    padding-top: 0;
}

h1 {
    font-size: 50px;
}

.half-width {
    width: 50%;
    display: block;

}

.info-text {

    padding-right: 14%;
}

.info img {
    width: 70%;
}

.ancor-btn {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(255, 162, 0));
    padding: 5px 10px;
    border-radius: 5px;
}

.box {
    box-shadow: 1px 15px 30px gray;
    margin: 15px;
    padding: 10px;
    padding-left: 15px;
    border-left: 7px solid rgba(221, 2, 2, 0.779);
    border-radius: 5px;
    text-align: justify;
}
.foter{
    padding: 3px;
    text-align: center;
}
.prc-exe{
    margin-left: 11%;
    margin-right: 55%;
    border-bottom: 2px solid gray;
    
}